*.unity filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
.dylib[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]mrge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
